.timeline-item {
    position: relative;
    padding-bottom: 40px; /* Adjust this value for the distance between items */
  }
  
  .timeline-item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 40px; /* Adjust this value for the line length */
    background: #d9d9d9; /* Color of the line */
  }

  .ant-timeline{
    margin: 0 7rem;
  }
  