.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0b710de8;
  }
  
  .gpt3__navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .gpt3__navbar-links_logo img {
    width: 100px;
  }
  
  .gpt3__navbar-links_container {
    display: flex;
    gap: 2rem;
  }
  
  .gpt3__navbar-links_container p {
    margin: 0;
  }
  
  .gpt3__navbar-links_container a {
    color: #fff;
    text-decoration: none;
  }
  
  .gpt3__navbar-sign {
    display: flex;
    gap: 1rem;
  }
  
  .gpt3__navbar-sign button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ff007f;
    color: #fff;
    cursor: pointer;
  }
  
  .gpt3__navbar-menu {
    display: none;
  }
  
  @media (max-width: 768px) {
    .gpt3__navbar-links_container,
    .gpt3__navbar-sign {
      display: none;
    }
  
    .gpt3__navbar-menu {
      display: block;
    }
  
    .gpt3__navbar-menu_container {
      position: absolute;
      top: 50px;
      right: 20px;
      background-color: #000;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  
    .gpt3__navbar-menu_container-links {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .gpt3__navbar-menu_container-links-sign {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
    }
  }
  